* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #248bed;
    font-family: Arial, Helvetica, sans-serif;
}

nav,
header {
    background-color: #248bed;
}

nav,
header,
main,
footer {
    width: 100%;
    float: left;

}

nav {
    height: 7rem;
    text-transform: uppercase;

}

header {
    padding: 2rem;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
    height: 43rem;
}

main {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    background-color: #e0e1dd;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    padding-bottom: 2%;

}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2%;
}

h4 {
    line-height: 1.5rem;
}

ul {
    margin-left: 1.5rem;
}

ul li {
    padding: 0.2rem;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #248bed;
}

main .container {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

.caixanav {
    float: left;
    width: auto;
    padding: 3rem;
    text-align: left;
}

.caixa {
    float: left;
    width: 18rem;
    padding: 3rem;
    text-align: left;
}

main .caixa {
    float: left;
    width: 33%;
    padding: 3rem;
    text-align: left;
}

.imgcartaoappbank {
    border-radius: 2rem;
}

.icon {
    width: 4rem;
    border-radius: 0.5rem;
    background-color: #248bed;
    padding: 1rem;
}

.botaonav {
    background-color: black;
    color: #248bed;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.8rem;
    font-size: medium;
    font-weight: 800;
}

.botao {
    background-color: black;
    color: white;
    width: 15rem;
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.7rem;
    font-size: medium;
    font-weight: 700;
}

.titulo {
    color: white;
}